---
import Layout from './Layout.astro'
---

<Layout title='404 Not Found'>
  <main
    class='h-screen w-screen flex flex-col justify-center items-center gap-10'
  >
    <h1>Page error 404</h1>
    <p>Not Found</p>
  </main>
</Layout>
