---
import Layout from '@/pages/Layout.astro'
import Header from '@/pages/Header.astro'
import AboutMe from '@/pages/AboutMe.astro'
import Footer from '@/pages/Footer.jsx'
import Projects from '@/pages/Projects.jsx'
---

<Layout title='Pablo Gomez | Portfolio'>
  <main class='flex flex-col items-center'>
    <Header />
    <Projects />
    <AboutMe />
    <section class='py-8 md:py-12 lg:py-24'>
      <div
        class='mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center'
      >
        <h2 class='z-20 font-bold text-6xl leading-[1.1]'>Open Source</h2>
        <p class='z-20 sm:text-lg sm:leading-7'>
          This Portfolio is Open Source and powered by open source software.
          <br /> The code is available on
          <a
            target='_blank'
            rel='noreferrer'
            class='underline underline-offset-4'
            href='https://github.com/PabloUGomez/Porfolio'>GitHub</a
          >.
        </p>
        <p>Astro | Tailwind | Bg.ibelick</p>
      </div>
    </section>

    <Footer />
  </main>
</Layout>
@/pages/Footer.jsx@/pages/Projects.jsx