---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.jsx';
import OpenSource from '@/components/OpenSource.astro';
import Projects from '@/components/Projects.jsx';

---

<Layout title="Pablo Gomez | Portfolio">
	<main class="flex flex-col items-center">
		<Header />
		<Projects />
		<AboutMe />
		<OpenSource />
		<Footer/>
	</main>
</Layout>