<section
  class='relative z-40 flex flex-col items-center pt-0 space-y-6 pb-8 mt-32 text-center md:pb-12'
>
  <h3
    class='text-3xl sm:text-5xl md:text-6xl lg:text-6xl w-full font-bold text-pretty'
  >
    "You never learn enough"
  </h3>
  <h4>Who am I?</h4>
  <p
    class='max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 px-2 text-pretty'
  >
    My journey into the world of technology began in <span
      class='rounded-sm bg-[#FF512F] px-1 font-bold text-amber-900'>2017</span
    > during my time at a technical high school. Exploring various realms such as
    Arduino and home automation, I eventually found my true passion in web development.
    And since then, I've been captivated by the endless possibilities and creativity
    it offers.<br />
    <br />Now, with years of experience under my belt, I proudly identify as a
    Front-End <span
      class='rounded-sm bg-[#FF512F] px-1 font-bold text-amber-900'>Web</span
    > Developer. My journey hasn't been without its bumps. But from those experiences,
    I learned, grew, and redirected my attention toward perfecting my web development
    skills.<br />
    <br />Outside of coding, I'm fueled by a <span
      class='rounded-sm bg-[#FF512F] px-1 font-bold text-amber-900'
      >passion</span
    > for exploration and discovery. Traveling has become a source of inspiration,
    fueling my curiosity and shaping my worldview. Currently, I'm on a path to not
    only excel in my technical abilities but also cultivate teamwork qualities and
    continue sharing my knowledge with others.
  </p>
</section>
