<header class="flex items-center my-16 w-full">
  <img src="/fotoPerfil.jpg" alt="Pablo foto" class="w-52 rounded-full mr-6" />
  <span>
    <h1>Hey, I'm Pablo</h1>
    <h2>Front End Web Developer based in Puan, Argentina.</h2>
  </span>
</header>
