---
import SocialPill from "@/components/SocialPill.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
---

<header class="flex items-center mt-16 w-full">
  <img src="/fotoPerfil.jpg" alt="Pablo foto" class="w-52 rounded-full mr-6" />
  <span>
    <h1 class="text-4xl">Hey, I'm Pablo</h1>
    <h2 >Front End Web Developer based in Puan, Argentina.</h2>
    <nav class="flex gap-4 mt-8 flex-wrap">
      <SocialPill href="https://linkedin.com/in/midudev">
        <LinkedInIcon class="size-4 md:size-6" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/midudev">
        <GitHubIcon class="size-4 md:size-6" />
        GitHub
      </SocialPill>
      <SocialPill href="mailto:miduga@gmail.com">
        <MailIcon class="size-4 md:size-6" />
        pablogomez0430@gmail.com
      </SocialPill>
    </nav>
  </span>
</header>
